body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container {
    display: flex;
}

#title {
    color: yellow;
    border: orange solid 3px;
}

#score-text {
    color: white;
}

#event-text {
    color: white;
    text-decoration: underline;
}

#lives-text {
    color: white;
}

.grid {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: white;
    border: 5px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: #444;
}

.power-pellet {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.pac-man {
    position: relative;
    background-color: yellow;
    border-radius: 5px;
    border: none;
}

.powered {
    position: relative;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
}

.empty {
}

.blue-ghost {
    position: relative;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
}

.pink-ghost {
    position: relative;
    background-color: pink;
    border-radius: 5px;
    border: none;
}

.orange-ghost {
    position: relative;
    background-color: #FF6700;
    border-radius: 5px;
    border: none;
}

.red-ghost {
    position: relative;
    background-color: red;
    border-radius: 5px;
    border: none;
}